<article{{ attributes.addClass('news-item') }}>
    <div class="text">
        <h3><a href="{{ url }}">{{ label }}</a></h3>
        {{ content.field_content }}
        <a href="{{ url }}" class="btn gold" aria-label="Read more about {{ label.0 }}">Read More</a>
    </div>
</article>