<article{{ attributes.addClass("event") }}>
    <a href="{{ url }}">{{ content.field_image }}</a>
    <div class="blurb">
        <h4><a href="{{ url }}">{{ label }}</a></h4>
        {% if content.field_date is not empty %}
            <div class="date">
                {{ content.field_date }}
            </div>
        {% endif %}
        <div>
            <a href="{{ url }}" class="btn red small" aria-label="{{ label.0 }}">Read More</a>
        </div>
    </div>
</article>