<div class="col-xs-12 col-sm-3 equal">
    <article>
        <div class="">
            {{ content.field_image }}
        </div>
        <div class="blurb">
            <h3><a href="{{ url }}">{{ label }}</a></h3>
            <p>{{ content.body }}</p>
            <a href="{{ url }}" class="btn blue small" aria-label="{{ label.0 }}">Read More</a>
        </div>
    </article>
</div>