<article{{ attributes.addClass('candidate-teaser col-xs-12 col-sm-3') }}>
    <div class="img">
        <a href="{{ url }}">{{ content.field_image }}</a>
    </div>
    <div class="text">
        <h3><a href="{{ url }}">{{ content.field_name.0 }}</a></h3>
        <h4>{{ content.field_state.0 }} {{ content.field_district.0 }}</h4>
    </div>
</article>