<article{{ attributes.addClass('news-item') }}>
    <div class="text">
        <h3><a href="{{ url }}">{{ label }}</a></h3>
        {% for item in node.field_content.entity.field_body %}
            {{ item.value }}
        {% endfor %}
        <a href="{{ url }}" class="btn gold" aria-label="Read more about {{ label.0 }}">Read More</a>
    </div>
</article>