<article{{ attributes }}>
    <div class="text">
        <h3><a href="{{ url }}">{{ label }}</a></h3>
        <p>{{ content.body.0 }}</p>
        <a href="{{ url }}" class="btn underline red" aria-label="{{ label.0 }}">Read More</a>
    </div>
</article>