{% block content %}
{% set position = paragraph.field_image_position.value %}
{% if position == 'background' %}
    {% set bg = "background:url({{ file_url(paragraph.field_image.entity.uri.value) }}) no-repeat" %}
{% endif %}
{% if paragraph.field_heading_size.value %}
    {% set heading = paragraph.field_heading_size.value %}
{% else%}    
    {% set heading = "h2" %}
{% endif %}
  <div class="cta {{position}}" style="{{bg}}">
    {% if position != 'background' %}
        <div class="img"><a href="{{ paragraph.field_link.0.url }}">{{content.field_image}}</a></div>
    {% endif %}
    <div class="blurb">      
        <div class="inner">        
            {% if content.field_title %}
                <{{heading}}>{{content.field_title.0}}</{{heading}}>
            {% endif %}
            {{ content.field_body }} 
        </div>
        {% if content.field_link.0 %}
            <a href="{{ paragraph.field_link.0.url }}" class="btn teal small">{{ paragraph.field_link.0.title }}</a>
        {% endif %}
    </div>
  </div>
{% endblock %}